{% if site.components.busuanzi.enabled == true and page.visit-stat != 'hidden' and page.layout != 'mindmap' %}
<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="mobile-hidden" style="margin-top:8px">
  <span id="busuanzi_container_site_pv" style="display:none">
    Visits to this site<span id="busuanzi_value_site_pv"></span> Times
  </span>
  <span id="busuanzi_container_site_uv" style="display:none">
    / Number of visitors to this site<span id="busuanzi_value_site_uv"></span> 
people
  </span>
  <span id="busuanzi_container_page_pv" style="display:none">
    / Page views<span id="busuanzi_value_page_pv"></span> Times
    {% if site.components.busuanzi.start_date %}
    / Statistics start from {{ site.components.busuanzi.start_date }}
    {% endif %}
  </span>
</div>
{% endif %}
